<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 mb-3" style="text-align:center">
    <div class="mailchimp">
        <p>I post infrequently. Get an email whenever I do.</p>
        <form class="validate"
              action="https://indr.us17.list-manage.com/subscribe/post?u=1cb239227accabb99c131407e&amp;id=4682950f73"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              target="_blank" novalidate>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                      name="b_1cb239227accabb99c131407e_4682950f73"
                                                                                      tabindex="-1" value=""></div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 mt-1">
                    <label class="sr-only" for="mce-EMAIL">Email address</label>
                    <input type="email" value="" name="EMAIL"
                           class="form-control email "
                           id="mce-EMAIL" placeholder="email address" required>
                </div>
                <div class="col-xs-12 col-sm-4 mt-1">
                    <input type="submit" value="Subscribe" name="subscribe"
                           class="btn btn-primary button" style="width: 100%"
                           id="mc-embedded-subscribe">
                </div>
            </div>
        </form>
    </div>
</div>
